
<h1 id="title"><%= @loginuser_name %> でログイン中</h1>

<form action="/save" method="post" enctype="multipart/form-data">
  <input type="text" name="msg" placeholder="New Tweet" required>
  <br>
  <input type="file" accept="image/*" name="upimg">
  <br>
  <input type="submit" value="Go">
</form>

<div id="anime_1">
  <a id="link_style" href="/logout">ログアウトする</a>
</div>

<form class="form_sql_option" action="/sql_option" method="post">
  ソート：
  <label class="option_order">
    Old
    <i class="fas fa-sort-down"></i>
    <input type="radio" name="order" value="asc" onChange="this.form.submit()" hidden></input>
  </label>
  <label class="option_order">
    New
    <i class="fas fa-sort-up"></i>
    <input type="radio" name="order" value="desc" onChange="this.form.submit()" hidden></input>
  </label>
</form>

<form class="form_sql_option form_sql_option_2" action="/sql_option" method="post">
  表示数：
  <label>
    <select name="sort_size" onChange="this.form.submit()">
      <option value="default" selected>選択してね。</option>
      <option value="5">5件</option>
      <option value="20">20件</option>
      <option value="50">50件</option>
      <option value="100">100件</option>
      <option value="all">全て</option>
    </select>
  </label>
</form>

<div id="views">
  <p style="color: white;"><%= @res_info %></p>
  <% @res.each do |tweet| %>
    <% if tweet['is_creater'] %>

      <div class="view my_view">
        <div class="tweet_info my_tweet_info">
          <p><%= tweet['creater_name'] %>さん
          &nbsp;<span class="my_time_string"><%= tweet['dateinfo-con'] %></span></p>

          <div class="tweet_status">
            <% if tweet['loginuser_is_like'] %>
              <form action="/likes" method="post">
                <input type="hidden" name="_method" value="delete">
                <label>
                  <i class="fas fa-heart tweet_liked"></i>
                  <input type="submit" name="tweet_id" value="<%= tweet['id'] %>" hidden>
                </label>
              </form>
            <% else %>
              <form action="/likes" method="post">
                <label>
                  <i class="far fa-heart tweet_nolike"></i>
                  <input type="submit" name="tweet_id" value="<%= tweet['id'] %>" hidden>
                </label>
              </form>
            <% end %>
            <span class="tweet_status_like"><%= tweet['likes_count'] %></span>
          </div>

        </div>
        <p class="msg-content"><%= tweet['msg'] %></p>
        <% if tweet['img_name'] != nil %>
          <div class="tweet_img">
            <img src="/upimgs/<%= tweet['img_name'] %>.jpg">
          </div>
        <% end %>
        <form class="delete_form" action="/tweet_delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="tweet_id" value="<%= tweet['id'] %>">
          <input type="hidden" name="img_name" value="<%= tweet['img_name'] %>">
          <input type="submit" value="Delete">
        </form>

        <div class="comments_views my_comments_views">
          <% tweet['comments'].each do |comment| %>
            <p><span class="my_comment_name_string"><%= comment['creater_name'] %>さん：</span>&ensp;<%= comment['comment'] %></p>
          <% end %>
        </div>

        <form class="comment_form" action="/comment" method="post">
          <input type="hidden" name="tweet_id" value="<%= tweet['id'] %>">
          <input type="text" name="add_comment" placeholder="New Comment" onChange="this.form.submit()">
        </form>

      </div>
      <div class="my_view_edge"></div>


    <% else %>

      <div class="view other_view">
        <div class="tweet_info">
          <p><%= tweet['creater_name'] %>さん
          &nbsp;<span class="other_time_string"><%= tweet['dateinfo-con'] %></span></p>

          <div class="tweet_status">
            <% if tweet['loginuser_is_like'] %>
              <form action="/likes" method="post">
                <input type="hidden" name="_method" value="delete">
                <label>
                  <i class="fas fa-heart tweet_liked"></i>
                  <input type="submit" name="tweet_id" value="<%= tweet['id'] %>" hidden>
                </label>
              </form>
            <% else %>
              <form action="/likes" method="post">
                <label>
                  <i class="far fa-heart tweet_nolike"></i>
                  <input type="submit" name="tweet_id" value="<%= tweet['id'] %>" hidden>
                </label>
              </form>
            <% end %>
            <span class="tweet_status_like"><%= tweet['likes_count'] %></span>
          </div>

        </div>

        <p class="msg-content"><%= tweet['msg'] %></p>
        <% if tweet['img_name'] != nil %>
          <div class="tweet_img">
            <img src="/upimgs/<%= tweet['img_name'] %>.jpg">
          </div>
        <% end %>

        <div class="comments_views other_comments_views">
          <% tweet['comments'].each do |comment| %>
            <p><span class="other_comment_name_string"><%= comment['creater_name'] %>さん：</span>&ensp;<%= comment['comment'] %></p>
          <% end %>
        </div>

        <form class="comment_form" action="/comment" method="post">
          <input type="hidden" name="tweet_id" value="<%= tweet['id'] %>">
          <input type="text" name="add_comment" placeholder="New Comment" onChange="this.form.submit()">
        </form>

      </div>
      <div class="other_view_edge"></div>

    <% end %>
  <% end %>
</div>

<br>
<br>
<br>
